@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: @apply font-noto-sans;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: inherit;
}
